{{ block title }}
    Comprehension Questions
{{ endblock }}
{{ block content }}

<style>
    .card-content {
        margin: 1em;
    }
    .card {
        margin-bottom: 1em;
    }
    .answer {
        display: flex;
        margin: 1em;
    }

    .answer > label {
        margin-left: 1em;
    }
</style>

{% if player.comprehention_questions_mistakes > 0 %}
<p style="color: red">Your answers were incorrect. You have a total of 3 attempts to pass these questions. Please try again. You can re-read the instructions at the bottom of the page</p>
{% endif %}

<div class="card">
    <h5 class="card-header">Please choose the correct answer:</h5>
    <div class="card-content">
        <div class="answer">
            <input type="radio" name="q0" required onclick="checkAnswers(question_nr='q0', answer_nr=1)"> <label for="q0">Clients <i> do not know </i>  their problem type, and <i> cannot observe </i> which treatment the expert chose. Clients only see their payoff at the end of each round</label>
        </div>
        <div class="answer">
            <input type="radio" name="q0" onclick="checkAnswers(question_nr='q0', answer_nr=2)"> <label for="q0">Clients <i> know </i> their problem type, and <i>can </i> observe which treatment the expert chose. Additionally, they see their payoff at the end of each round</label>
        </div>
        <div class="answer">
            <input type="radio" name="q0" onclick="checkAnswers(question_nr='q0', answer_nr=3)"> <label for="q0">Clients <i> know </i> their problem type, but <i> cannot observe </i> which treatment the expert chose. Additionally, they see their payoff at the end of each round</label>
        </div>
        <div class="answer">
            <input type="radio" name="q0" onclick="checkAnswers(question_nr='q0', answer_nr=4)"> <label for="q0">Clients receive no information about anything</label>
        </div>
    </div>
</div>

{% if participant.treatment_skill_visible %}
<!-- Transparent -->
{% if participant.is_expert %}
    <!-- Expert  -->
    <div class="card">
        <h5 class="card-header">Please choose the correct answer:</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=1)" required> <label for="q1">A low-quality treatment never solves a client’s problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=2)"> <label for="q1">A high-quality treatment only solves a large problem and a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=3)"> <label for="q1">A high-quality treatment solves both a large problem and a small problem, a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=3)"> <label for="q1">The expert's treatment choice does not affect whether a client’s problem is solved</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Each round, experts diagnose all clients and choose the treatment they want to provide for them.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q2" required onclick="checkAnswers(question_nr='q2', answer_nr=1)"> <label for="q2">Experts pay the costs of all chosen treatments, irrespective of whether clients approach them</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=2)"> <label for="q2">Experts receive payoff equal to their chosen price and treatment for all clients, irrespective of whether they approach them</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=3)"> <label for="q2">An expert's choices do not affect their payoff</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=4)"> <label for="q2">For each client that approaches an expert, the expert pays the costs of their chosen treatment and receive their chosen price as payoff</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">You are playing with 2 other experts and 3 clients.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q3" required onclick="checkAnswers(question_nr='q3', answer_nr=1)"> <label for="q3">All experts have the same diagnostic abilities and clients <i> can </i> observe them</label>
            </div>
            <div class="answer correct">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=2)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> can </i> observe expert abilities.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=3)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> cannot </i> observe expert abilities.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=4)"> <label for="q3">All experts have different diagnostic abilities and clients <i> cannot </i> observe them</label>
            </div>
        </div>
    </div>

    {% else %}
    <!-- Client  -->
    <div class="card">
        <h5 class="card-header">Please choose the correct answer:</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=1)" required> <label for="q1">A low-quality treatment never solves a client’s problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=2)"> <label for="q1">A high-quality treatment only solves a large problem and a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=3)"> <label for="q1">A high-quality treatment solves both a large problem and a small problem, a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" onclick="checkAnswers(question_nr='q1', answer_nr=4)"> <label for="q1">An expert’s treatment choice does not affect whether a client’s problem is solved</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Each round, clients can choose to approach 1 of 3 experts. Alternatively, they can choose to refrain from approaching an expert.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q2" required onclick="checkAnswers(question_nr='q2', answer_nr=1)"> <label for="q2">If a client approaches an expert, and the expert does not solve their problem, the client still receives a positive payoff for that round</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=2)"> <label for="q2">If a client decides not to approach an expert, they earn 150 Coins.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=3)"> <label for="q2">All experts always charge the same prices</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=4)"> <label for="q2">If a client approaches an expert, and the expert solves their problem, the client earns 150 Coins, while paying the treatment price as chosen by their approached expert. If the expert does not solve the problem, the client only pays the treatment price.</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">You are playing with 3 experts and 2 other clients.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=1)" required> <label for="q3">All experts have the same diagnostic abilities and clients <i> can </i> observe them</label>
            </div>
            <div class="answer correct">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=2)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> can </i> observe expert abilities</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=3)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> cannot </i> observe expert abilities</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" onclick="checkAnswers(question_nr='q3', answer_nr=4)"> <label for="q3">All experts have different diagnostic abilities and clients <i> cannot </i> observe them</label>
            </div>
        </div>
    </div>

    {% endif %}


{% else %}
<!-- Obfuscated  -->
    {% if participant.is_expert %}
    <!-- Expert  -->
    <div class="card">
        <h5 class="card-header">Please choose the correct answer:</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q1" value=1 onclick="checkAnswers(question_nr='q1', answer_nr=1)" required> <label for="q1">A low-quality treatment never solves a client’s problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=2 onclick="checkAnswers(question_nr='q1', answer_nr=2)"> <label for="q1">A high-quality treatment only solves a large problem and a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=3 onclick="checkAnswers(question_nr='q1', answer_nr=3)"> <label for="q1">A high-quality treatment solves both a large problem and a small problem, a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=4 onclick="checkAnswers(question_nr='q1', answer_nr=4)"> <label for="q1">An expert's treatment choice does not affect whether a client’s problem is solved</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Each round, experts diagnose all clients and choose the treatment they want to provide for them.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q2" required onclick="checkAnswers(question_nr='q2', answer_nr=1)"> <label for="q2">Experts pay the costs of all chosen treatments, irrespective of whether clients approach them</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=2)"> <label for="q2">Experts receive payoff equal to their chosen price and treatment for all clients, irrespective of whether they approach them</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=3)"> <label for="q2">An expert's choices do not affect their payoff</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=4)"> <label for="q2">For each client that approaches an expert, the expert pays the costs of their chosen treatment and receive their chosen price as payoff</label>
            </div>
        </div>
    </div>

    
    <div class="card">
        <h5 class="card-header">You are playing with 2 other experts and 3 clients.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q3" value=1 required onclick="checkAnswers(question_nr='q3', answer_nr=1)"> <label for="q3">All experts have the same diagnostic abilities and clients <i>can </i> observe them</label>
            </div>
            <div class="answer correct">
                <input type="radio" name="q3" value=2 onclick="checkAnswers(question_nr='q3', answer_nr=2)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> cannot </i> observe expert abilities.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" value=3 onclick="checkAnswers(question_nr='q3', answer_nr=3)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> can </i> observe expert abilities.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" value=4 onclick="checkAnswers(question_nr='q3', answer_nr=4)"> <label for="q3">All experts have different diagnostic abilities and clients <i> cannot </i> observe them</label>
            </div>
        </div>
    </div>


    {% else %}
    <!-- Client  -->
    <div class="card">
        <h5 class="card-header">Please choose the correct answer:</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q1" value=1 required onclick="checkAnswers(question_nr='q1', answer_nr=1)"> <label for="q1">A low-quality treatment never solves a client’s problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=2 onclick="checkAnswers(question_nr='q1', answer_nr=2)"> <label for="q1">A high-quality treatment only solves a large problem and a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=3 onclick="checkAnswers(question_nr='q1', answer_nr=3)"> <label for="q1">A high-quality treatment solves both a large problem and a small problem, a low-quality treatment only solves a small problem</label>
            </div>
            <div class="answer">
                <input type="radio" name="q1" value=4 onclick="checkAnswers(question_nr='q1', answer_nr=4)"> <label for="q1">An expert’s treatment choice does not affect whether a client’s problem is solved</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">Each round, clients can choose to approach 1 of 3 experts. Alternatively, they can choose to refrain from approaching an expert.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q2" required onclick="checkAnswers(question_nr='q2', answer_nr=1)"> <label for="q2">If a client approaches an expert, and the expert does not solve their problem, the client still receives a positive payoff for that round</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=2)"> <label for="q2">If a client decides not to approach an expert, they earn 150 Coins.</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=3)"> <label for="q2">All experts always charge the same prices</label>
            </div>
            <div class="answer">
                <input type="radio" name="q2" onclick="checkAnswers(question_nr='q2', answer_nr=4)"> <label for="q2">If a client approaches an expert, and the expert solves their problem, the client earns 150 Coins, while paying the treatment price as chosen by their approached expert. If the expert does not solve the problem, the client only pays the treatment price.</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <h5 class="card-header">You are playing with 3 experts and 2 other clients.</h5>
        <div class="card-content">
            <div class="answer">
                <input type="radio" name="q3" value=1 onclick="checkAnswers(question_nr='q3', answer_nr=1)" required> <label for="q3">All experts have the same diagnostic abilities and clients <i> can </i> observe them</label>
            </div>
            <div class="answer correct">
                <input type="radio" name="q3" value=2 onclick="checkAnswers(question_nr='q3', answer_nr=2)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> cannot </i> observe expert abilities</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" value=3 onclick="checkAnswers(question_nr='q3', answer_nr=3)"> <label for="q3">Each expert has a 2/3 chance of being a low-ability expert and a 1/3 chance of being a high-ability expert. Clients <i> can </i> observe expert abilities</label>
            </div>
            <div class="answer">
                <input type="radio" name="q3" value=4 onclick="checkAnswers(question_nr='q3', answer_nr=4)"> <label for="q3">All experts have different diagnostic abilities and clients <i> cannot </i> observe them</label>
            </div>
        </div>
    </div>

    {% endif %}
{% endif %}

<input id="comprehention_questions_passed" name="comprehention_questions_passed" type="hidden" value=false>
{{ formfield_errors 'comprehention_questions_passed' }}
<script>
    answers = {
        "q0": 0,
        "q1": 0,
        "q2": 0,
        "q3": 0   
    };
    correct_answers = {
        "q0": 1,
        "q1": 3,
        "q2": 4,
        "q3": 2
    };
    console.log(correct_answers)
    result = false
    function checkAnswers(question_nr, answer_nr) {
        answers[question_nr] = answer_nr;
        console.log("Current answer:", answers);

        if (answers["q0"] == correct_answers["q0"] & (answers["q1"] == correct_answers["q1"]) & (answers["q2"] == correct_answers["q2"]) & (answers["q3"] == correct_answers["q3"])) {
            console.log("Correct!")
            result = true
        } else {
            console.log("Incorrect!")
            result = false
        };
        document.getElementById("comprehention_questions_passed").value = result;
    }
</script>

<p></p>

    {{ next_button }}

    {{ include_sibling "InstructionAccordion.html" }}


{{ endblock }}
