{{ block title }}
    Practice: Choose Expert
{{ endblock }}
{{ block content }}


<style>
    .expert-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .expert-card {
        background-color: #f1eef6;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding-bottom: 0.3em;
        margin: 1em;
        overflow: hidden;
    }

    .expert-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
        background-color: #bdc9e1;
    }

    .outside-option {
        margin-bottom: 1em;
        margin-right: 1em;
        text-align: center;
    }
    td {
        vertical-align: middle;
    }
</style>

<div class="expert-list">

    <div class="expert-card">
        <p class="expert-name"><b> Expert A {% if participant.treatment_skill_visible %}(high skill){% endif %}</b></p>
        <table class="table">
            {% if participant.treatment_skill_visible %}
                    <thead>
                        <tr>
                            <td colspan="6"><b>Diagnostic accuracy:</b> {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%</td>
                        </tr>
                    </thead>
            {% endif %}
            <tbody>
                <tr>
                    <th colspan="2"></th>
                    <th scope="col" colspan="2">Low-quality service</th>
                    <th scope="col" colspan="2">High-quality service</th>
                </tr>
                <tr>
                    <th colspan="2">Price</th>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_small.0 %} Coins</td>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_small.1 %} Coins</td>
                </tr>
                <tr>
                    <th colspan="2">Expert Profit</th>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_small.2 %} Coins</td>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_small.3 %} Coins</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary"  name="expert_chosen_name" value="A">Choose Expert A</button>
    </div>
    
    <div class="expert-card">
        <p class="expert-name"><b> Expert B {% if participant.treatment_skill_visible %}(low skill){% endif %}</b></p>
        <table class="table">
            {% if participant.treatment_skill_visible %}
                    <thead>
                        <tr>
                            <td colspan="6"><b>Diagnostic accuracy:</b> {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%</td>
                        </tr>
                    </thead>
            {% endif %}
            <tbody>
                <tr>
                    <th colspan="2"></th>
                    <th scope="col" colspan="2">Low-quality service</th>
                    <th scope="col" colspan="2">High-quality service</th>
                </tr>
                <tr>
                    <th colspan="2">Price</th>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.0 %} Coins</td>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.1 %} Coins</td>
                </tr>
                <tr>
                    <th colspan="2">Expert Profit</th>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.2 %} Coins</td>
                    <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.3 %} Coins</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary"  name="expert_chosen_name" value="B">Choose Expert B</button>
    </div>

    {% if C.NUM_EXPERTS_PER_GROUP > 2 %}
        <div class="expert-card">
            <p class="expert-name"><b> Expert C {% if participant.treatment_skill_visible %}(low skill){% endif %}</b></p>
            <table class="table">
                {% if participant.treatment_skill_visible %}
                        <thead>
                            <tr>
                                <td colspan="6"><b>Diagnostic accuracy:</b> {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%</td>
                            </tr>
                        </thead>
                {% endif %}
                <tbody>
                    <tr>
                        <th colspan="2"></th>
                        <th scope="col" colspan="2">Low-quality service</th>
                        <th scope="col" colspan="2">High-quality service</th>
                    </tr>
                    <tr>
                        <th colspan="2">Price</th>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.no_bias.0 %} Coins</td>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.no_bias.1 %} Coins</td>
                    </tr>
                    <tr>
                        <th colspan="2">Expert Profit</th>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.no_bias.2 %} Coins</td>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.no_bias.3 %} Coins</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary"  name="expert_chosen_name" value="C">Choose Expert C</button>
        </div>
    {% endif %}

    {% if C.NUM_EXPERTS_PER_GROUP > 3 %}
        <div class="expert-card">
            <p class="expert-name"><b> Expert D {% if participant.treatment_skill_visible %}(high skill){% endif %}</b></p>
            <table class="table">
                {% if participant.treatment_skill_visible %}
                        <thead>
                            <tr>
                                <td colspan="6"><b>Diagnostic accuracy:</b> {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%</td>
                            </tr>
                        </thead>
                {% endif %}
                <tbody>
                    <tr>
                        <th colspan="2"></th>
                        <th scope="col" colspan="2">Low-quality service</th>
                        <th scope="col" colspan="2">High-quality service</th>
                    </tr>
                    <tr>
                        <th colspan="2">Price</th>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.0 %} Coins</td>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.1 %} Coins</td>
                    </tr>
                    <tr>
                        <th colspan="2">Expert Profit</th>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.2 %} Coins</td>
                        <td colspan="2">{% C.PRICE_VECTOR_OPTIONS.bias_large.3 %} Coins</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary"  name="expert_chosen_name" value="D">Choose Expert D</button>
        </div>
    {% endif %}


</div>


<div class="outside-option">
    <button class="btn btn-primary" name="expert_chosen_name" value="None">Leave the market (Gain {% C.CONSUMER_PAYOFFS.no_market_entry %} Coins)</button>
</div>

{{ include_sibling "InstructionAccordion.html" }}

{{ endblock }}
