
<style>
    .img-container {
        text-align: center;
    }
</style>


{% if participant.is_expert %}
<p>After experts set their prices, they proceed with the diagnosis.
    The diagnosis gives experts an information signal that tells them which of the two problems a client has.
    This signal is <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}% accurate for a low-ability expert, {% if participant.ability_level == "low" %} (you),{% endif %}</b>
    and <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}% accurate for the high-ability expert{% if participant.ability_level == "high" %} (you){% endif %}</b>. Thus, if e.g. a client has a small problem,
    then {% if participant.ability_level == "low" %}low-ability experts{% else %}high-ability experts{% endif %}
    correctly diagnose that the problem is small with a probability of {% if participant.ability_level == "low" %}{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}{% else %}{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}{% endif %}%.</p>

<p>To receive the signal, experts need to complete a short prediction task (see image below).
    A client’s problem is determined by 5 symptoms, and as a
    {% if participant.ability_level == "low" %}low-ability expert you receive 2 input factors. A high-ability expert receives 3{% else %}
    high-ability expert you receive 3 input factors. A low-ability expert receives 2{% endif %} input factors.
    To make their diagnosis, experts <b> only need to click on the blue diagnosis button.
    They need to do nothing else.</b> Afterwards, experts receive their diagnostic signal.</p>

{% if participant.ability_level == "low" %}
<div class="img-container">
    <img src="{{ static 'diagnosis.png' }}" width="400px" alt="prediction task">
</div>

{% else %}
<div class="img-container">
    <img src="{{ static 'diagnosis_ha.png' }}" width="400px" alt="prediction task">
</div>
{%endif %}

<p></p>
<p> Clients do not know exactly how an expert makes their diagnosis. They only know that the diagnosis is based on a task that involves their 5 symptoms,
    and that high-ability experts identify one more symptom. </p>

<p>Finally, after the diagnosis, experts decide which treatment they want to implement for a given client.</p>

<p><b>Importantly,</b> each expert will diagnose and treat all {% C.NUM_CONSUMERS_PER_GROUP %} possible clients in each round.
    However, an expert's decisions will only affect their payoff if at least one client decided
    to approach them. Then, for each client that approached the expert, he or she will receive the price
        associated with their chosen treatment for that client as payoff.</p>
<p> For example, if a client
    approached an expert, and the expert decided to implement the high-quality treatment, the expert will receive
    the price for the high-quality treatment as a payoff. Remember however that they will also
        need to pay the costs of the high-quality treatment. If e.g. two clients approached the expert,
    and the expert chose to implement the high-quality treatment for one and the low-quality treatment
    for the other client, the expert will receive the price of 1 high-quality treatment and 1 low-quality
    treatment as payoff, while also paying the costs of 1 high-quality treatment and 1 low-quality treatment.</p>

<p> If an expert is approached by 0 clients, they receive a base payment of 10 Coins. </p>




{% else %}
<p>After experts set their prices, they proceed with the diagnosis. Each round, experts receive an information signal that tells them which of the two problems a client has.
    This signal is <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}% accurate for the low-ability expert,
        and {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}% accurate for the high-ability expert</b>.</p>

<p> Thus, if e.g. you have a small problem, then the high-ability expert receives the signal that the
    problem is small with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%, and the low-ability expert receives the signal that the
    problem is small with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. Remember that clients only receive the {% C.CONSUMER_PAYOFFS.problem_solved %} Coins if their
    problem is solved. </p>


<p>To receive the signal, experts need to complete a short prediction task. The prediction task works 
    as follows: A client's problem problem (small or big) is determined by 5 symptoms, which are assigned to them
    randomly at the beginning of each round. The 5 symptoms determine whether the client has a big or a
    small problem. High-ability experts can observe three of each client's symptoms. Low-ability experts can
    observe two of each client's symptoms. Therefore, high-ability experts are better at diagnosing clients. Using
    the symptoms, the expert makes a diagnosis and receives a diagnostic signal.</p>


<p>After making their diagnosis, each expert decides which treatment they want to implement for a given client. Once a client approaches an expert, they will have to pay for whatever
    treatment the expert decided to implement. </p>

<p>If no client approaches an expert, the expert receives a base payoff of 10 Coins.</p>
{% endif %}
