
<style>
    .img-container {
        text-align: center;
    }
</style>


{% if participant.is_expert %}
<p>After you set your prices, you will proceed with the diagnosis.
    As a {% participant.ability_level %}-ability expert, you will receive a signal in each round, that tells you which of
    the two problems a client has. This signal is <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}% accurate for the low-ability expert {% if participant.ability_level == "low" %} (you){% endif %}</b>,
    and <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}% accurate for the high-ability expert{% if participant.ability_level == "high" %} (you){% endif %}</b>. Thus, if e.g. a client has a small problem,
    then you receive the signal that the problem is small with a probability of {% if participant.ability_level == "low" %}{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}{% else %}{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}{% endif %}%.</p>

<p>To receive the signal, you need to complete a short prediction task (see image below). 
    A client’s problem is determined by 5 symptoms, and as a
    {% if participant.ability_level == "low" %}low-ability expert you receive 2 input factors. A high-ability expert receives 3{% else %}
    high-ability expert you receive 3 input factors. A low-ability expert receives 2{% endif %} input factors.
    To make your diagnosis, you <b> only need to click on the blue diagnosis button.
    You need to do nothing else.</b> Afterwards, you will receive the diagnostic signal.</p>

<div class="img-container">
    <img src="{{ static 'diagnosis.png' }}" alt="prediction task">
</div>
<p></p>
<p> Clients do not know exactly how an expert makes their diagnosis. They only know that the diagnosis is based on a task that involves their 5 symptoms,
    and that high-ability experts observe one more symptom. </p>

<p>Finally, after your diagnosis, you decide which treatment you want to implement for a given client.</p>

<p>Importantly, you will diagnose and treat all {% C.NUM_CONSUMERS_PER_GROUP %} possible clients in each round. 
    However, your decisions will only affect your payoff if at least one client decided 
    to approach you. Then, for each client that approached you, you will receive the price
        associated with your chosen treatment for that client as payoff. For example, if a client
    approached you, and you decided to implement the high-quality treatment, you will receive 
    the price for the high-quality treatment as a payoff. Remember however that you will also
        need to pay the costs of the high-quality treatment. If e.g. two clients approached you,
    and you chose to implement the high-quality treatment for one and the low-quality treatment 
    for the other client, you will receive the price of 1 high-quality treatment and 1 low-quality 
    treatment as payoff, while also paying the costs of 1 high-quality treatment and 1 low-quality treatment.</p>

<p> If either no client approached you, or no client entered the market, you receive a base payment of 10 Coins. </p>




{% else %}
<p>After experts set their prices, they proceed with the diagnosis. Experts receive a signal in each round, that tells them which of the two problems a client has.
    This signal is <b>{% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}% accurate for the low-ability expert,
        and {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}% accurate for the high-ability expert</b>.</p>

<p>    Thus, if e.g. you have a small problem, then the high-ability experts receives the signal that the
    problem is small with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%, and the low-ability expert receives the signal that the
    problem is small with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. Remember that you only receive the {% C.CONSUMER_PAYOFFS.problem_solved %} Coins if your 
    problem is solved. Additionally, once you approach an expert, you will have to pay for whatever 
    treatment the expert decided to implement.</p>


<p>To receive the signal, experts need to complete a short prediction task. The prediction task works 
    as follows: Your problem (small or big) is determined by 5 symptoms, which are assigned to you 
    randomly at the beginning of each round. The 5 symptoms determine whether you have a big or a 
    small problem. High-ability experts can observe three of your symptoms. Low-ability experts can 
    observe two of your symptoms. Therefore, high-ability experts are better at diagnosing you. Using 
    the symptoms, the expert makes a diagnosis and receives a diagnostic signal.</p>


<p>After making their diagnosis, each expert decides which treatment they want to implement for a given client. </p>

<p>If no client approaches an expert, the expert receives a base payoff of 10 Coins.</p>
{% endif %}

