<p><b>Experts can now invest into their diagnostic ability.</b></p>
        {% if player.is_expert %}
        <!-- expert explanation -->
            {% if group.treatment_skill_visible %}
            <!-- expert | visible -->
                {% if group.treatment_investment_option == "skill" %}
                <!-- expert | visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | visible | skill | repeated-->
                    <p> For the remainder of this experiment, you will have the opportunity to invest into your
                        diagnostic ability. Each round, you can decide to buy information about the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom for {% C.INVESTMENT_COST.repeated %} Coins. Like before, should you decide to buy, the information
                        {% if participant.ability_level == "high" %} signal
                        {% elif participant.ability_level == "low" %} signals {% endif %}
                        will be automatically integrated into your diagnosis.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts.
                        Debts will be repaid by your profits throughout the remainder of the experiment.
                        Purchasing information
                        increases your diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. Thus, if you decide to purchase,
                        you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>A {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but receives information about
                        {% if participant.ability_level == "high" %} the 3rd and the 4th
                        {% elif participant.ability_level == "low" %} only the 4th {% endif %}
                        symptom. Therefore, after investing, all experts receive a
                        signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                    {% else %}
                    <!-- expert | visible | skill | once -->
                    <p> You will now have the opportunity to make one large investment into your diagnostic ability. You can
                        decide to buy permanent information about the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom for {% C.INVESTMENT_COST.once %} Coins.
                        Like before, should you decide to buy, the information
                        {% if participant.ability_level == "high" %} signal
                        {% elif participant.ability_level == "low" %} signals {% endif %}
                        will be automatically integrated
                        into your diagnosis. If your current amount of coins is insufficient to finance the investment, you 
                        can still invest, but you will have to incur debts. Debts will be repaid by your profits throughout the 
                        remainder of the experiment.</p>
                    <p>Purchasing information about the
                       {% if participant.ability_level == "high" %} 4th
                       {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom <i> permanently increases your diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% </i>.
                        Thus, if you decide to purchase, you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p> A {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but receives information about
                        {% if participant.ability_level == "high" %} the 3rd and the 4th
                        {% elif participant.ability_level == "low" %} only the 4th {% endif %}
                        symptom.
                        Therefore, after investing, all experts receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of
                        their prior diagnostic ability.</p>

                    {% endif %}
                {% else %}
                <!-- expert | visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | visible | algo | repeated-->
                    <p>For the remainder of this experiment, you will have the opportunity to invest into the precision of your diagnosis. 
                        Each round, you can decide to rent an algorithmic decision aid for {% C.INVESTMENT_COST.repeated %} Coins.
                        The algorithmic decision aid can accurately
                        diagnose the 3rd and the 4th symptom of each client. Renting the algorithmic decision aid increases your combined diagnostic 
                        ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. Thus,
                        if you decide to rent the decision aid in a round, you will be able to correctly diagnose a client’s
                        problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        After renting the algorithmic decision aid, your are not forced to use it. Instead,
                        you can still decide to rely on your own diagnosis and forego the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom as diagnosed by the algorithm.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts.
                        Debts will be repaid by your profits throughout the remainder of the experiment.</p>
                    <p>A
                        {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but profits from
                        {% if participant.ability_level == "high" %} both the information about the 3rd and the
                        information about the 4th symptom.
                        {% elif participant.ability_level == "low" %} only from the information about the 4th symptom. {% endif %}
                        Therefore, after investing, all experts
                        receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        irrespective of their prior diagnostic ability.</p>

        
                    {% else %}
                    <!-- expert | visible | algo | once -->
                    <p>You will now have the opportunity to make one large investment into your diagnostic precision. You can decide to buy an algorithmic 
                        decision aid for {% C.INVESTMENT_COST.once %} Coins. The algorithmic decision aid can accurately diagnose the 3rd and the 4th symptom of each client.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts. 
                        Debts will be repaid by your profits throughout the remainder of the experiment.</p>
                    <p>Purchasing the algorithmic decision aid <i> permanently </i> increases your combined diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, if you decide to buy
                        the decision aid, you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        After purchasing the algorithmic
                        decision aid, you are not forced to use it. Instead, you can still decide to rely on your own diagnosis and forego the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom as diagnosed by the algorithm.</p>
                    <p>A
                        {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but profits from
                        {% if participant.ability_level == "high" %} both the information about the 3rd and the
                        information about the 4th symptom.
                        {% elif participant.ability_level == "low" %} only from the information about the 4th symptom. {% endif %}
                        Therefore, after investing, all experts receive a signal that
                        is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                    {% endif %}
                {% endif %}
            {% else %}
            <!-- expert | not visible -->
            {% if group.treatment_investment_option == "skill" %}
                <!-- expert | not visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | not visible | skill | repeated-->
                    <p> For the remainder of this experiment, you will have the opportunity to invest into your
                        diagnostic ability. Each round, you can decide to buy information about the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom for {% C.INVESTMENT_COST.repeated %} Coins. Like before, should you decide to buy, the information
                        {% if participant.ability_level == "high" %} signal
                        {% elif participant.ability_level == "low" %} signals {% endif %}
                        will be automatically integrated into your diagnosis.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts.
                        Debts will be repaid by your profits throughout the remainder of the experiment.
                        Purchasing information
                        increases your diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. Thus, if you decide to purchase,
                        you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>A {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but receives information about
                        {% if participant.ability_level == "high" %} the 3rd and the 4th
                        {% elif participant.ability_level == "low" %} only the 4th {% endif %}
                        symptom. Therefore, after investing, all experts receive a
                        signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                    {% else %}
                    <!-- expert | not visible | skill | once -->
                    <p> You will now have the opportunity to make one large investment into your diagnostic ability. You can
                        decide to buy permanent information about the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom for {% C.INVESTMENT_COST.once %} Coins.
                        Like before, should you decide to buy, the information
                        {% if participant.ability_level == "high" %} signal
                        {% elif participant.ability_level == "low" %} signals {% endif %}
                        will be automatically integrated
                        into your diagnosis. If your current amount of coins is insufficient to finance the investment, you
                        can still invest, but you will have to incur debts. Debts will be repaid by your profits throughout the
                        remainder of the experiment.</p>
                    <p> Purchasing information about the
                       {% if participant.ability_level == "high" %} 4th
                       {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom <i> permanently increases your diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% </i>.
                        Thus, if you decide to purchase, you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p> A {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but receives information about
                        {% if participant.ability_level == "high" %} the 3rd and the 4th
                        {% elif participant.ability_level == "low" %} only the 4th {% endif %}
                        symptom.
                        Therefore, after investing, all experts receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of
                        their prior diagnostic ability.</p>

        
                    {% endif %}
                {% else %}
                <!-- expert | not visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | not visible | algo | repeated-->
                    <p>For the remainder of this experiment, you will have the opportunity to invest into the precision of your diagnosis.
                        Each round, you can decide to rent an algorithmic decision aid for {% C.INVESTMENT_COST.repeated %} Coins.
                        The algorithmic decision aid can accurately
                        diagnose the 3rd and the 4th symptom of each client. Renting the algorithmic decision aid increases your combined diagnostic
                        ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. Thus,
                        if you decide to rent the decision aid in a round, you will be able to correctly diagnose a client’s
                        problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        After renting the algorithmic decision aid, your are not forced to use it. Instead,
                        you can still decide to rely on your own diagnosis and forego the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom as diagnosed by the algorithm.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts.
                        Debts will be repaid by your profits throughout the remainder of the experiment.</p>
                    <p>A
                        {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but profits from
                        {% if participant.ability_level == "high" %} both the information about the 3rd and the
                        information about the 4th symptom.
                        {% elif participant.ability_level == "low" %} only from the information about the 4th symptom. {% endif %}
                        Therefore, after investing, all experts
                        receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        irrespective of their prior diagnostic ability.</p>


                    {% else %}
                    <!-- expert | not visible | algo | once -->
                    <p>You will now have the opportunity to make one large investment into your diagnostic precision. You can decide to buy an algorithmic
                        decision aid for {% C.INVESTMENT_COST.once %} Coins. The algorithmic decision aid can accurately diagnose the 3rd and the 4th symptom of each client.
                        If your current amount of coins is insufficient to finance the investment, you can still invest, but you will have to incur debts.
                        Debts will be repaid by your profits throughout the remainder of the experiment.</p>
                    <p>Purchasing the algorithmic decision aid <i> permanently </i> increases your combined diagnostic ability to 90%. Thus, if you decide to buy
                        the decision aid, you will be able to correctly diagnose a client’s problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        After purchasing the algorithmic
                        decision aid, you are not forced to use it. Instead, you can still decide to rely on your own diagnosis and forego the
                        {% if participant.ability_level == "high" %} 4th
                        {% elif participant.ability_level == "low" %} 3rd and 4th {% endif %}
                        symptom as diagnosed by the algorithm.</p>
                    <p>A
                        {% if participant.ability_level == "high" %} low-ability expert
                        {% elif participant.ability_level == "low" %} high-ability expert {% endif %}
                        pays the same price, but profits from
                        {% if participant.ability_level == "high" %} both the information about the 3rd and the
                        information about the 4th symptom.
                        {% elif participant.ability_level == "low" %} only from the information about the 4th symptom. {% endif %}
                        Therefore, after investing, all experts receive a signal that
                        is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                     {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
        <!-- consumer explanation -->
            {% if group.treatment_skill_visible %}
            <!-- consumer | visible -->
                {% if group.treatment_investment_option == "skill" %}
                <!-- consumer | visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | visible | skill | repeated-->
                    <p>For the remainder of this experiment, all experts will have the 
                        opportunity to invest into their diagnostic ability. Each round, 
                        experts can decide to increase their diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%
                        by paying <b>{% C.INVESTMENT_COST.repeated %} Coins</b>. An expert that decided to improve their
                        diagnosis in a given round thus correctly diagnoses your problem 
                        with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>Low-ability experts and high-ability experts pay the same price. After 
                        investing, all expert types receive a signal that is correct with a probability of 
                        {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

        
                    {% else %}
                    <!-- consumer | visible | skill | once -->
                    <p>From now on, all experts will have the opportunity to make a large, one-time investment 
                        into their diagnostic ability. For a price of <b>{% C.INVESTMENT_COST.once %} Coins</b>, an expert can permanently increase
                        their probability to correctly diagnose a client’s problem to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, once an expert
                        decides to invest, they correctly diagnose your problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>Low-ability experts and high-ability experts pay the same price. After investing, all expert types 
                        receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>
        
                    {% endif %}
                {% else %}
                <!-- consumer | visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | visible | algo | repeated-->
                    <p>For the remainder of this experiment, all experts will have the opportunity to <b>rent an
                        algorithmic decision aid</b> that can improve the accuracy of their diagnosis. Renting the decision
                        aid costs an expert <b>{% C.INVESTMENT_COST.repeated %} Coins per round</b>. However, if the expert correctly utilizes the algorithm,
                        he or she increases their diagnostic ability for that round to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, an expert that decides to rent the
                        algorithmic decision aid in a given round, and utilizes it correctly, diagnoses your problem with 
                        a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>The algorithmic decision aid can improve a diagnosis by identifying symptoms that determine whether 
                        you have a large or a small problem. These symptoms have been allocated to you at the beginning of 
                        the experiment. As already mentioned in the beginning, you will never be able to observe them.</p>

                    {% else %}
                    <!-- consumer | visible | algo | once -->
                    <p>From now on, all experts will have the opportunity to make a large, <b> one-time investment into an algorithmic
                        decision aid </b> that can improve the maximum accuracy of their diagnosis. </p>
                    <p> For a price of <b>{% C.INVESTMENT_COST.once %} Coins</b>, an expert can permanently
                        buy a decision aid that increases their diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%
                        if they utilize it correctly. Thus, an expert
                        that decides to purchase the algorithmic decision aid, and utilizes it correctly, diagnoses your problem with a
                        probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>The algorithmic decision aid can improve a diagnosis by identifying symptoms that determine whether you have a 
                        large or a small problem. These symptoms have been allocated to you at the beginning of the experiment. As already 
                        mentioned in the beginning, you will never be able to observe them.</p>

                    {% endif %}
                {% endif %}
            {% else %}
            <!-- consumer | not visible -->
            {% if group.treatment_investment_option == "skill" %}
                <!-- consumer | not visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | not visible | skill | repeated-->
                    <p>For the remainder of this experiment, all experts will 
                        have the opportunity to invest into their diagnostic ability. 
                        Each round, experts can decide to increase their diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%
                        by paying <b>{% C.INVESTMENT_COST.repeated %} Coins</b>. An expert that decided to improve their diagnosis in a given
                        round thus correctly diagnoses your problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% .</p>
                    <p>Low-ability experts and high-ability experts pay the same price. After investing, 
                        all expert types receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                    {% else %}
                    <!-- consumer | not visible | skill | once -->
                     <p>From now on, all experts will have the opportunity to make a large, one-time investment into their
                        diagnostic ability. For a price of <b>{% C.INVESTMENT_COST.once %} Coins</b>, an expert can permanently increase their probability
                        to correctly diagnose a client’s problem to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. Thus, once an expert decides to invest, they
                        correctly diagnose your problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>Low-ability experts and high-ability experts pay the same price. After investing, all expert types
                        receive a signal that is correct with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, irrespective of their prior diagnostic ability.</p>

                    {% endif %}
                {% else %}
                <!-- consumer | not visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | not visible | algo | repeated-->
                    <p>For the remainder of this experiment, all experts will have the opportunity to <b>rent an algorithmic decision aid</b> that can
                        improve the accuracy of their diagnosis. Renting the decision aid costs an expert <b>{% C.INVESTMENT_COST.repeated %} Coins per round</b>. However,
                        if the expert correctly utilizes the algorithm, he or she increases their diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, an
                        expert that decides to rent the algorithmic decision aid in a given round, and utilizes it correctly, diagnoses 
                        your problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>The algorithmic decision aid can improve a diagnosis by identifying symptoms that determine whether you have a large 
                        or a small problem. These symptoms have been allocated to you at the beginning of the experiment. As already 
                        mentioned in the beginning, you will never be able to observe them.</p>

                    {% else %}
                    <!-- consumer | not visible | algo | once -->
                    <p>From now on, all experts will have the opportunity to make a large, <b>one-time investment into an algorithmic decision aid</b>
                        that can improve the accuracy of their diagnosis. For a price of <b>{% C.INVESTMENT_COST.once %} Coins</b>, an expert can permanently buy a decision aid
                        that increases their diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% if they utilize it correctly. Thus, an expert that decides to purchase
                        the algorithmic decision aid and utilizes it correctly, diagnoses your problem with a probability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.</p>
                    <p>The algorithmic decision aid can improve a diagnosis by identifying symptoms that determine whether you have a large or 
                        a small problem. These symptoms have been allocated to you at the beginning of the experiment. As already mentioned in the 
                        beginning, you will never be able to observe them.</p>

                    {% endif %}
        
                {% endif %}
        
            {% endif %}
        
        {% endif %}
