      {% if player.is_expert %}
        <!-- expert explanation -->
            {% if group.treatment_skill_visible %}
            <!-- expert | visible -->
                {% if group.treatment_investment_option == "skill" %}
                <!-- expert | visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | visible | skill | repeated-->
                    <p> All clients are informed about this new opportunity to purchase more information. Clients can
                        observe whether an expert decided to purchase the new information. Clients also still observe (1) 
                        each expert’s original ability level, and (2) their current ability level that depends on their investment. </p>
                    <p> For example, should you decide not to purchase more information, clients see that your ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}
                        If you decide to buy more information in a round, clients see that your current
                        ability level is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, and that your prior ability level was
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %} </p>
        
                    {% else %}
                    <!-- expert | visible | skill | once -->
                    <p> All clients are informed about this new opportunity to invest into more information. Clients can observe whether an expert decided
                        to purchase the new information. Clients also still observe (1) each expert’s original ability level, and (2) the expert’s current 
                        ability level that depends on their investment.</p>
                    <p> For example, should you decide not to purchase more information, clients see that
                        your ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}
                        Once you decide to buy more information, clients see that your current
                        ability level is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%, and that your prior ability level was
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}</p>
                    <p>You do not have to invest in the next round. You can also invest in any one of the following rounds. The price stays the same, 
                        irrespective of the round. However, you can only invest once. There will be no opportunity to increase your diagnostic 
                        ability beyond {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. </p>
        
                    {% endif %}
                {% else %}
                <!-- expert | visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | visible | algo | repeated-->

                    <p> Importantly, all clients are also informed about the opportunity to rent an algorithmic decision aid. Clients can observe whether
                        an expert decided to rent the decision aid. Clients also observe (1) each expert’s personal ability level, and (2) the expert’s 
                        current maximum ability level that that depends on their renting decision.</p>
                    <p> Additionally, clients learn that renting the algorithmic
                        decision aid does not automatically increase an expert’s diagnostic ability, but that experts need to correctly utilize it. Clients also learn that an expert
                        can decide not to use the decision aid after renting it.</p>
                    <p> For example, should you decide not to rent the decision aid, clients see that your ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}
                        If you decide to rent the algorithmic decision aid in a given round, clients see that your
                        <i> current maximum ability level </i> is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        and that your <i> personal ability level </i> is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}</p>
        
                    {% else %}
                    <!-- expert | visible | algo | once -->

                    <p> Importantly, all clients are also informed about the opportunity to purchase an algorithmic decision aid. Clients can observe whether an
                        expert decided to buy the decision aid. Clients also observe (1) each expert’s personal ability level, and (2) the expert’s current 
                        maximum ability level that depends on their investment.</p>
                    <p> Additionally, clients learn that purchasing the algorithmic decision aid does
                        not automatically increase an expert’s diagnostic ability, but that experts need to correctly utilize it. Clients also learn that an expert
                        can decide not to use the decision aid after purchasing it.</p>
                    <p> For example, should you decide not to buy the decision aid, clients see that your ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}
                        Once
                        you decide to buy the decision aid, clients see that your current <i> maximum ability level </i> is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        and that your <i> personal ability level </i> is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}</p>
                    <p>You do not have to invest in the next round. You can also invest in any one of the following rounds. The price stays the same, irrespective 
                        of the round. However, you can only invest once. There will be no opportunity to increase your maximum diagnostic
                        ability beyond {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. </p>
                    {% endif %}
                {% endif %}
            {% else %}
            <!-- expert | not visible -->
            {% if group.treatment_investment_option == "skill" %}
                <!-- expert | not visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | not visible | skill | repeated-->
                    <p> All clients are informed about this new opportunity to purchase more information. Clients can observe whether
                        an expert decided to purchase the new information. Clients also learn that an expert has a diagnostic ability of
                        {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% after purchasing more information in a round.
                        Thus, clients <i> know about an expert’s current ability level if
                        the expert decided to invest. </i> However, clients still <i> do not observe an expert’s original ability </i> level. </p>
                    <p> For example, should you decide not to purchase more information in a given round, clients do not observe your ability level and can
                        only use the information they gathered during the prior rounds. </p>
                    <p> If you purchase more information, clients
                        know that your current ability level for this round is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        but not that your original ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %}</p>

                    {% else %}
                    <!-- expert | not visible | skill | once -->
                    <p>All clients are informed about this new opportunity to purchase more information. Clients can observe whether
                        an expert decided to purchase the new information. Clients also learn that an expert has a diagnostic ability of
                        {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% after the investment.
                        Thus, clients <i> know about an expert’s current ability level if
                        the expert decided to invest. </i> However, clients still <i> do not observe an expert’s original ability </i> level.</p>
                    <p>For example, should you decide not to purchase more information, clients do not observe your ability level and can 
                        only use the information they gathered during the prior rounds. </p>
                    <p> Once you decide to buy more information, clients
                        know that your current ability level is 90%, but not that your prior ability level was
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %} </p>
                    <p>You do not have to invest in the next round. You can also invest in any one of the following rounds. The price stays
                        the same, irrespective of the round. However, you can only invest once. There will be no opportunity to increase 
                        your diagnostic ability beyond {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. </p>
        
                    {% endif %}
                {% else %}
                <!-- expert | not visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- expert | not visible | algo | repeated-->

                    <p> Importantly, all clients are also informed about the opportunity to rent an algorithmic decision aid.
                        Clients can observe whether an expert decided to rent the decision aid. Clients also learn that an expert 
                        has a <i> maximum diagnostic ability </i> of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% after renting
                        the algorithmic decision aid. Thus, clients know about
                        an expert’s <i> current maximum ability </i> level if the expert decided to invest. However, clients still do not
                        observe an expert’s <i> personal </i> ability level.</p>
                    <p> Additionally, clients learn that renting the algorithmic decision
                        aid does not automatically increase an expert’s diagnostic ability, but that experts need to correctly utilize it. Clients also learn that an expert
                        can decide not to use the decision aid after renting it.</p>
                    <p> For example, should you decide not to rent the decision aid, clients do not observe your ability level and can only use
                        the information they gathered during the prior rounds. </p>
                    <p> If you decide to rent the algorithmic decision aid in a given round,
                        clients know that your current maximum ability level for this round is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        but not that your personal ability level is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %} </p>
        
                    {% else %}
                    <!-- expert | not visible | algo | once -->

                    <p>Importantly, all clients are also informed about the opportunity to purchase an algorithmic decision aid. Clients 
                        can observe whether an expert decided to buy the decision aid. Clients also learn that an expert has a maximum 
                        diagnostic ability of {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}% after buying the algorithmic decision aid. Thus, clients know about an expert’s
                        current maximum ability level if the expert decided to invest. However, clients still do not observe an expert’s 
                        personal ability level. </p>
                    <p> Additionally, clients learn that buying the algorithmic decision aid does not automatically
                        increase an expert’s diagnostic ability, but that experts need to correctly utilize it. Clients also learn that an expert
                        can decide not to use the decision aid after purchasing it.</p>
                    <p>For example, should you decide not to buy the decision aid, clients do not observe your ability level and 
                        can only use the information they gathered during the prior rounds. Once you decide buy the algorithmic decision 
                        aid, clients know that your <i> maximum ability level </i> is {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%,
                        but not that your <i> personal ability level </i> is
                        {% if participant.ability_level == "high" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.high %}%.
                        {% elif participant.ability_level == "low" %} {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.low %}%. {% endif %} </p>
                    <p>You do not have to invest in the next round. You can also invest in any one of the following rounds. The price stays the same, 
                        irrespective of the round. However, you can only invest once. There will be no opportunity to increase your maximum diagnostic 
                        ability beyond {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%. </p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
        <!-- consumer explanation -->
            {% if group.treatment_skill_visible %}
            <!-- consumer | visible -->
                {% if group.treatment_investment_option == "skill" %}
                <!-- consumer | visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | visible | skill | repeated-->
                    <p>You will be able to observe whether an expert decided to invest. You will also see (1)
                        the expert’s current ability level and (2) the expert’s prior ability level.</p>
        
                    {% else %}
                    <!-- consumer | visible | skill | once -->
                    <p>You will be able to observe whether an expert decided to invest. You will also see (1) the expert’s current
                        ability level and (2) the expert’s prior ability level.</p>
                    <p>Experts do not have to invest immediately. They can invest at any time during the final 15 rounds, and the price 
                        always stays the same. If an expert has not earned enough money to finance their improved diagnostic ability, 
                        they can still invest by incurring debts. Debts are paid off through profits during the remainder of the experiment.</p>
        
                    {% endif %}
                {% else %}
                <!-- consumer | visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | visible | algo | repeated-->
                    <p>Low-ability experts and high-ability experts pay the same price for the decision aid.</p>
                    <p>After investing,
                        all expert types can utilize the additional diagnostic information from the algorithm to increase their
                        maximum diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, the best-possible
                        diagnosis is the same for the low-ability expert and the high-ability expert.</p>
                    <p>You will be able to observe whether an expert decided to rent the algorithmic decision aid in a given round. 
                        You will also see (1) the expert’s current maximum ability level and (2) the expert’s personal ability level.
                        Note that an expert does not have to use the algorithmic decision aid after renting it in a given round.</p>
        
                    {% else %}
                    <!-- consumer | visible | algo | once -->
                    <p>Low-ability experts and high-ability experts pay the same price for the decision aid.</p>
                    <p>After investing,
                        all expert types can utilize the additional diagnostic information from the algorithm to increase their
                        maximum diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, the best-possible
                        diagnosis is the same for the low-ability expert and the high-ability expert.</p>
                    <p>You will be able to observe whether an expert decided to purchase the algorithmic decision aid. You will also see 
                        (1) the expert’s current maximum ability level and (2) the expert’s personal ability level.
                        Note that an expert does not have to use the algorithmic decision aid after purchasing it.</p>
                    <p>Experts do not have to invest immediately. They can invest at any time during the final 15 rounds, and the price 
                        always stays the same. If an expert has not earned enough money to finance the algorithmic decision aid, they can 
                        still invest by incurring debts. Debts are paid off through profits during the remainder of the experiment.</p>
                    {% endif %}
                {% endif %}
            {% else %}
            <!-- consumer | not visible -->
            {% if group.treatment_investment_option == "skill" %}
                <!-- consumer | not visible | skill -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | not visible | skill | repeated-->
                    <p>You will be able to observe whether an expert decided to invest in any given round.
                        However, you will not be able to see the expert’s prior ability level. </p>
        
                    {% else %}
                    <!-- consumer | not visible | skill | once -->
                    <p>You will be able to observe whether an expert decided to invest. However, you will not be able to see
                        the expert’s prior ability level.</p>
                    <p>Experts do not have to invest immediately. They can invest at any time during the final 15 rounds, and the price always stays the same. 
                        If an expert has not earned enough money to finance their improved diagnostic ability, they can still invest by incurring debts. 
                        Debts are paid off through profits during the remainder of the experiment.</p>
        
                    {% endif %}
                {% else %}
                <!-- consumer | not visible | algo -->
                    {% if group.treatment_investment_frequency == "repeated" %}
                    <!-- consumer | not visible | algo | repeated-->
                    <p>Low-ability experts and high-ability experts pay the same price for the decision aid.</p>
                    <p>After investing,
                        all expert types can utilize the additional diagnostic information from the algorithm to increase their
                        maximum diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, the best-possible
                        diagnosis is the same for the low-ability expert and the high-ability expert.</p>
                    <p>You will be able to observe whether an expert decided to invest into the algorithmic decision aid in any given round. 
                        However, you will not be able to see the expert’s personal ability level.
                    Note that an expert does not have to use the algorithmic decision aid after renting it in a given round.</p>
        
                    {% else %}
                    <!-- consumer | not visible | algo | once -->
                    <p>Low-ability experts and high-ability experts pay the same price for the decision aid.</p>
                    <p>After investing,
                        all expert types can utilize the additional diagnostic information from the algorithm to increase their
                        maximum diagnostic ability to {% C.EXPERT_ABILITY_LEVEL_TO_DIAGNOSIS_ACCURACY_PERCENT.invested %}%.
                        Thus, the best-possible
                        diagnosis is the same for the low-ability expert and the high-ability expert.</p>
                    <p>You will be able to observe whether an expert decided to invest into the algorithmic decision aid. However, you
                        will not be able to see the expert’s personal ability level.
                        Note that an expert does not have to use the algorithmic decision aid after purchasing it.</p>
                    <p>Experts do not have to invest immediately. They can invest at any time during the final 15 rounds, and the price always stays the same. 
                        If an expert has not earned enough money to finance the algorithmic decision aid, they can still invest by incurring debts. Debts are 
                        paid off through profits during the remainder of the experiment.</p>
                    {% endif %}
        
                {% endif %}
        
            {% endif %}
        
        {% endif %}
