{{ block title }}
    Choose an expert
{{ endblock }}
{{ block content }}

<style>
    .title-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .otree-timer {
        display: none;
    }
    .otree-title {
        display: none;
    }
  </style>
  
  <div class="title-container">
    <div class="title_element">
        <h2>Choose an expert</h2>
    </div>
    <div class="title_element">
        <h2>Round: {% player.round_number %}/{% C.NUM_ROUNDS %} | Time left: <span class="otree-timer__time-left">time_left</span></h2>
    </div>
  </div>


<style>
    .expert-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .expert-card {
        background-color: #f1eef6;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding-bottom: 0.3em;
        margin: 1em;
        overflow: hidden;
    }

    .expert-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
        background-color: #bdc9e1;
    }
    .outside-option {
        margin-right: 1em;
        text-align: center;
    }
    td {
        vertical-align: middle;
    }

</style>

{{ include_sibling "InfoBox.html" }}



<div class="expert-list" id="expert-list">
    <script>
        let price_vector = js_vars.price_vector;
        console.log(price_vector);
    </script>
    {% for p in group.get_players() %}
        {% if not p.is_dropout %}

            {% if p.is_expert %}


                <div class="expert-card" id="card-{% p.id_in_group %}">
                    <p class="expert-name"><b> Expert {% p.player_name %}
                        {% if player.round_number >= C.INVESTMENT_STARTING_ROUND %}
                            {% if p.investment_decision %}
                             – Invested
                            {% else %}
                             – Did not invest
                            {% endif %}
                        {% endif %}
                    </b></p>
                    <table class="table">
                        {% if group.treatment_skill_visible %}
                            {% if group.treatment_investment_option == "skill" %}
                                {% if player.round_number >= C.INVESTMENT_STARTING_ROUND %}
                                <thead>
                                    <tr>
                                        <th colspan="3">Prior accuracy</th>
                                        <td colspan="3">{% p.base_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Current accuracy</th>
                                        <td colspan="3">{% p.total_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                </thead>
                                {% else %}
                                <thead>
                                    <tr>
                                        <th colspan="3">Diagnostic accuracy</th>
                                        <td colspan="3">{% p.total_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                </thead>
                                {% endif %}
                            {% else %}
                                {% if player.round_number >= C.INVESTMENT_STARTING_ROUND %}
                                <thead>
                                    <tr>
                                        <th colspan="3">Personal accuracy</th>
                                        <td colspan="3">{% p.base_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Maximum accuracy</th>
                                        <td colspan="3">{% p.total_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                </thead>
                                {% else %}
                                <thead>
                                    <tr>
                                        <th colspan="3">Diagnostic accuracy</th>
                                        <td colspan="3">{% p.total_diagnosis_accuracy_percent %}%</td>
                                    </tr>
                                </thead>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <tbody>
                            <tr>
                                <th scope="col" colspan="2"></th>
                                <th scope="col" colspan="2">Low-quality service</th>
                                <th scope="col" colspan="2">High-quality service</th>
                            </tr>
                            <tr>
                                <th colspan="2">Price</th>
                                <td colspan="2">{% p.price_small_service %} Coins</td>
                                <td colspan="2">{% p.price_large_service %} Coins</td>
                            </tr>
                            <tr>
                                <th colspan="2">Expert Profit</th>
                                <td colspan="2"><span id="profit-small-{% p.id_in_group %}"></span> Coins</td>
                                <td colspan="2"><span id="profit-large-{% p.id_in_group %}"></span> Coins</td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" name="expert_chosen" value="{% p.id_in_group %}">Choose Expert {% p.player_name %}</button>
                </div>
                
                <script>
                    document.getElementById("profit-small-{% p.id_in_group %}").innerHTML = price_vector["{% p.price_vector_chosen %}"][2]
                    document.getElementById("profit-large-{% p.id_in_group %}").innerHTML = price_vector["{% p.price_vector_chosen %}"][3]

                    if ("{% p.investment_decision %}" == "True") {
                        console.log("Has invested")
                        
                        document.getElementById("profit-small-{% p.id_in_group %}").innerHTML = js_vars.price_vectors_multi["{% group.treatment_investment_frequency %}"]["{% p.price_vector_chosen %}"][2]
                        document.getElementById("profit-large-{% p.id_in_group %}").innerHTML = js_vars.price_vectors_multi["{% group.treatment_investment_frequency %}"]["{% p.price_vector_chosen %}"][3]
                    }
                </script>
                
            {% endif %}


        {% endif %}    

    {% endfor %}
</div>

<script>
    // shuffle divs?
    randomized_ids = JSON.parse("{% participant.randomized_others_in_group %}")
    console.log(randomized_ids)
    if ("{% C.RANDOMIZE_DIV_ORDER %}" == "True") {
        for (const element of randomized_ids) {
            $("#expert-list").append($("#card-" + element))
        }
    }
</script>

<div class="outside-option">
    <button class="btn btn-primary" name="expert_chosen" value=0>Leave the market (Gain {% C.CONSUMER_PAYOFFS.no_market_entry %} Coins)</button>
</div>

<p>
    {{ include "practice_round/InstructionAccordion.html" }}
</p>

{{ formfield_errors 'expert_chosen' }}

{{ endblock }}
