{{ block title }}
    Choose an Expert
{{ endblock }}


{{ block content }}
<style>
    .expert-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .expert-card {
        background-color: lightcyan;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding: 0.3em;
        margin: 1em;
    }
</style>

{{ include_sibling "InfoBox.html" }}

<div class="expert-list">
    {% for p in subsession.get_players() %}
        {% if p.is_expert %}
            <div class="expert-card">
                <p style="background-color: {% p.expert_color %}"><b>Expert {% p.expert_color %}</b></p>
                <p>Price small service: <b>{% p.price_small_service %}</b></p>
                <p>Price large service: <b>{% p.price_large_service %}</b></p>
                <button class="btn btn-primary" name="expert_chosen" value="{% p.id_in_group %}">Choose Expert</button>
            </div>
        {% endif %}

    {% endfor %}
</div>

{{ formfield_errors 'expert_chosen' }}

{{ endblock }}
