{{ extends 'otree/WaitPage.html' }}
{{ block title }} Waiting for experts... {{ endblock }}
{{ block content }}
<script>
  coins_in_all_rounds = {};
</script>

    <div class="expert-results">
        {{ if player.is_expert }}
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="tg-amwm" colspan="4">Results so far</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="tg-0pky">Round</th>
                    <th class="tg-0pky">Number of services provided</th>
                    {% if player.round_number >= C.INVESTMENT_STARTING_ROUND %}
                    <th class="tg-0pky">Investment made</th>
                    {% endif %}
                    <th class="tg-0pky">Coins earned</th>
                  </tr>
                  {% for p in player.in_all_rounds() %}
                  <tr>
                    <td class="tg-0pky">{% p.round_number %}</td>
                    <td class="tg-0pky">{% p.number_of_services_provided %}</td>
                    {% if player.round_number >= C.INVESTMENT_STARTING_ROUND %}
                    <td class="tg-0pky">{% p.investment_decision %}</td>
                    {% endif %}
                    <td class="tg-0pky">{% p.coins %} coins</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>

        {{ endif }}
    </div>

    <div class="consumer-results">
        {{ if not player.is_expert }}
            
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="tg-amwm" colspan="3">Results so far</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="tg-0pky">Round</th>
                    <th class="tg-0pky">Expert chosen</th>
                    <th class="tg-0pky">Total Coins</th>
                  </tr>
                  {% for p in player.in_all_rounds() %}
                  <tr>
                    <td class="tg-0pky">{% p.round_number %}</td>
                    <td class="tg-0pky">{% p.field_maybe_none('expert_chosen_name') %}</td>
                    <td class="tg-0pky"><span id="coins_in_round_{% p.round_number %}"></span> coins</td>
                  </tr>
                  <script>
                    // calculate coins per round //
                    coins_this_round = parseInt("{% p.coins %}");
                    coins_in_all_rounds["{% p.round_number %}"] = coins_this_round;
                    round_nr = parseInt("{% p.round_number %}");
                    if (round_nr != 1) {
                        coins_this_round -= coins_in_all_rounds[String(round_nr-1)]
                    } 
                    document.getElementById("coins_in_round_{% p.round_number %}").innerHTML = coins_this_round;
                    
                    if ("{% p.round_number %}" == "{% player.round_number %}") {
                      document.getElementById("coins_in_round_{% p.round_number %}").innerHTML = "n/a";
                    }
                  </script>
                  {% endfor %}
                  
                </tbody>
                </table>

        {{ endif }}
    </div>
{{ endblock }}