{{ block title }}
    Choose an Expert
{{ endblock }}


{{ block content }}
<style>
    .expert-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .expert-card {
        background-color: lightcyan;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding-bottom: 0.3em;
        margin: 1em;
        overflow: hidden;
    }

    .expert-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
    }
</style>

{{ include_sibling "InfoBox.html" }}

<div class="expert-list">
    <script>
        let price_vector = js_vars.price_vector;
        console.log(price_vector);
    </script>
    {% for p in group.get_players() %}
        {% if not p.is_dropout %}

            {% if p.is_expert %}
                <div class="expert-card">
                    <p class="expert-name" style="background-color: {% p.player_color.lower() %}"><b>{% p.player_color %} ({% p.ability_level %} skill)</b></p>

                    <!-- Display skill level if treatment is appropirate-->
                    {% if group.treatment_skill_visible %}
                        <p>Accuracy: <b>{% p.total_diagnosis_accuracy_percent %}%</b></p>
                    {% endif %}

                    <!-- Display investment choices after they happen -->
                    {% if p.round_number >= C.INVESTMENT_STARTING_ROUND %}
                        <p>Investment: <b>{% p.investment_decision %}</b></p>
                    {% endif %}

                    <p>Price small service: <b>{% p.price_small_service %}</b> (Expert Profit: <b><span id="profit-small-{% p.id_in_group %}"></span></b>)</p>
                    <p>Price large service: <b>{% p.price_large_service %}</b> (Expert Profit: <b><span id="profit-large-{% p.id_in_group %}"></span></b>)</p>
                    <button class="btn btn-primary" name="expert_chosen" value="{% p.id_in_group %}">Choose Expert</button>
                </div>
                
                <script>
                    document.getElementById("profit-small-{% p.id_in_group %}").innerHTML = price_vector["{% p.price_vector_chosen %}"][2]
                    document.getElementById("profit-large-{% p.id_in_group %}").innerHTML = price_vector["{% p.price_vector_chosen %}"][3]
                </script>
                
            {% endif %}


        {% endif %}    

    {% endfor %}
</div>

{{ formfield_errors 'expert_chosen' }}

{{ endblock }}
