{{ block title }}
    Please answer a few questions about yourself
{{ endblock }}


{{ block content }}

<style>
    .card-content {
        margin: 1em;
    }
    .card {
        margin-bottom: 1em;
    }
    .horizontal {
        display: flex;
        justify-content: space-between;
    }
</style>

{% if player.dem_page == 1 %}

{% include 'credence_goods/questionnaire/risk.html' %}

{% elif player.dem_page == 2 %}

{% include 'credence_goods/questionnaire/socio.html' %}

{% endif %}

<br>
{{ next_button}}

{{ endblock }}