{{ block title }}
    Diagnosis I
{{ endblock }}
{{ block content }}

<style>
    .consumer-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .consumer-card {
        background-color: lightcyan;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding-bottom: 0.3em;
        overflow: hidden;
        margin: 1em;
    }
    .consumer-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
    } 

</style>

{{ include_sibling "InfoBox.html" }}

<script>
    // Returns a random integer between min (included) and max (excluded)
    // Using Math.round() will give you a non-uniform distribution!
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }

    console.log(js_vars.diagnosis_correct_for_all_patients)
</script>

<div class="consumer-list">
    {% for p in group.get_players() %}

        {% if not p.is_dropout %}
            {% if not p.is_expert %}
                <div class="consumer-card">
                    <p class="consumer-name" style="background-color: {% p.player_color.lower() %}"><b>Consumer {% p.player_color %}</b></p>
                    <p>Symptom A: <b><span id="var-a-{% p.id_in_group %}">??</span></b></p>
                    <p>Symptom B: <b><span id="var-b-{% p.id_in_group %}">??</span></b></p>
                    <p>Symptom C: <b><span id="var-c-{% p.id_in_group %}">??</span></b></p>
                    <p>Symptom D: <b><span id="var-d-{% p.id_in_group %}">??</span></b></p>
                    <p>
                        <input id="calc-A-{% p.id_in_group %}" type="text" size="1" placeholder="A" onkeyup="calculateResult('{% p.id_in_group %}')" required="required"> 
                        & <input id="calc-B-{% p.id_in_group %}" type="text" size="1" placeholder="B" onkeyup="calculateResult('{% p.id_in_group %}')" required="required"> 
                        & <input id="calc-C-{% p.id_in_group %}" type="text" size="1" placeholder="C" onkeyup="calculateResult('{% p.id_in_group %}')" required="required">
                        & <input id="calc-Inv-{% p.id_in_group %}" type="text" size="1" placeholder="?" disabled="disabled">
                        = <b><span id="calc-result-{% p.id_in_group %}">Result</span></b>
                    </p>
                </div>

                <script>
                    
                    input_1 = true;
                    input_2 = true
                    input_3_1 = false;
                    input_3_2 = true;
                    input_4_1 = false;
                    input_4_2 = false;

                </script>
            {% endif %}
        {% endif %}

    {% endfor %}
</div>

<!-- hidden input for oTree formfield -->
<input type="hidden" id="">
    {{ next_button }}

{{ endblock }}
