{{ block title }}
    Diagnosis I
{{ endblock }}
{{ block content }}

<style>
    .title-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .otree-timer {
        display: none;
    }
    .otree-title {
        display: none;
    }
  </style>
  
  <div class="title-container">
    <div class="title_element">
        <h2>Diagnosis I</h2>
    </div>
    <div class="title_element">
        <h2>Round: {% player.round_number %}/{% C.NUM_ROUNDS %} | Time left: <span class="otree-timer__time-left">time_left</span></h2>
    </div>
  </div>
  
  
  {{ include_sibling "InfoBox.html" }}


<style>
    .consumer-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .consumer-card {
        background-color: #f1eef6;
        text-align: center;
        border: solid;
        border-radius: 1em;
        padding-bottom: 0.3em;
        overflow: hidden;
        margin: 1em;
    }
    .consumer-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
    } 

</style>


<script>
    // Returns a random integer between min (included) and max (excluded)
    // Using Math.round() will give you a non-uniform distribution!
    dict_ignore_algo = {};

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }

    diag = js_vars.diagnosis_correct_for_all_patients
    console.log(diag)
    all_random_vars = {};

    const all_cards = []
</script>
<!-- hidden input for oTree formfield ignore_algorithmic_decision_per_consumer -->
<input type="hidden" id="ignore_algorithmic_decision_per_consumer" name="ignore_algorithmic_decision_per_consumer">
<div class="consumer-list" id="consumer-list">
    {% for p in group.get_players() %}

        {% if not p.is_dropout %}
            {% if not p.is_expert %}
                <div class="consumer-card" id="card-{% p.id_in_group %}">
                    <p class="consumer-name" style="background-color: #bdc9e1"><b>Client {% p.player_name %}</b></p>

                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Symptom I</td>
                            <td><input id="calc-A-{% p.id_in_group %}" type="text" size="1" placeholder="A" required="required" onkeydown="resetInput(this, id='{% p.id_in_group %}')"></td>
                          </tr>
                          <tr>
                            <td>Symptom II</td>
                            <td><input id="calc-B-{% p.id_in_group %}" type="text" size="1" placeholder="B" required="required" onkeydown="resetInput(this, id='{% p.id_in_group %}')"></td>
                          </tr>
                          <tr>
                            <td>Symptom III</td>
                            <td><input id="calc-C-{% p.id_in_group %}" type="text" size="1" placeholder="C" required="required" onkeydown="resetInput(this, id='{% p.id_in_group %}')" disabled></td>
                          </tr>
                          <tr>
                            <td>Symptom IV</td>
                            <td><input id="calc-D-{% p.id_in_group %}" type="text" size="1" placeholder="D" required="required" onkeydown="resetInput(this, id='{% p.id_in_group %}')" disabled></td>
                          </tr>
                          <tr>
                            <td>Symptom V</td>
                            <td><input id="calc-E" type="text" size="1" placeholder="E" disabled></td>
                          </tr>
                        </tbody>
                      </table>
                    
                    <p>
                        {% if group.treatment_investment_option == "algo" %}
                        {% if player.investment_decision %}
                        <!-- display option to use algo if treatment appropriate and player invested -->
                        <input type="checkbox" value=0 onclick="ignoreAlgo(key='{% p.id_in_group %}')"> <b>Do not use Algorithmic Decision Aid</b>
                        {% endif %}
                        {% endif %}
                    </p>
                    
                </div>

                <script>
                    all_cards.push("{% p.id_in_group %}");

                    dict_ignore_algo['{% p.id_in_group %}'] = 0;
                    all_random_vars['{% p.id_in_group %}'] = {}

                    input_1 = getRandomInt(1, 10); /* random var 1-10 */
                    document.getElementById("calc-A-{% p.id_in_group %}").value = input_1;

                    input_2 = getRandomInt(11, 20); /* random var 2-20 */
                    document.getElementById("calc-B-{% p.id_in_group %}").value = input_2;  

                    all_random_vars['{% p.id_in_group %}']["A"] = input_1
                    all_random_vars['{% p.id_in_group %}']["B"] = input_2
                </script>

                {% if player.ability_level == "high" %}
                    <script>
                        document.getElementById("calc-C-{% p.id_in_group %}").disabled = false;

                        if ("{% p.service_needed %}" == "small") {
                            input_3 = getRandomInt(21, 30); /* input_3_1 | random var 3-30 if small */ 
                        }
                        else {
                            input_3 = getRandomInt(31, 40);   /* input_3_2 |  random var 4-40 if large */
                        };
                        document.getElementById("calc-C-{% p.id_in_group %}").value = input_3;

                        all_random_vars['{% p.id_in_group %}']["C"] = input_3
        
                    </script>
                {% endif %}
                
                {% if player.investment_decision %}
                    <script>
                        document.getElementById("calc-C-{% p.id_in_group %}").disabled = false;

                        if ("{% p.service_needed %}" == "small") {
                            input_3 = getRandomInt(21, 30); /* input_3_1 | random var 3-30 if small */ 
                        }
                        else {
                            input_3 = getRandomInt(31, 40);   /* input_3_2 |  random var 4-40 if large */
                        };
                        document.getElementById("calc-C-{% p.id_in_group %}").value = input_3;


                        if ("{% p.service_needed %}" == "small") {
                            input_4 = getRandomInt(41, 50);  /* input_4_1 | random var 5-50 if small */
                        }
                        else {
                            input_4 = getRandomInt(51, 60);  /* input_4_2 | random var 6-60 if large */
                        };
                        
                        document.getElementById("calc-D-{% p.id_in_group %}").value = input_4; 
                        document.getElementById("calc-D-{% p.id_in_group %}").disabled = false;

                        all_random_vars['{% p.id_in_group %}']["D"] = input_4
                    </script>
                {% endif %}
            {% endif %}
        {% endif %}

    {% endfor %}
</div>


<script>
    document.getElementById("ignore_algorithmic_decision_per_consumer").value = JSON.stringify(dict_ignore_algo);
    console.log(dict_ignore_algo);
    function ignoreAlgo(key) {
        if (dict_ignore_algo[key] == 1) {
            dict_ignore_algo[key] = 0;
            document.getElementById("calc-D-" + key).disabled = false;
        } else {
            dict_ignore_algo[key] = 1;
            document.getElementById("calc-D-" + key).disabled = true;
        };
        document.getElementById("ignore_algorithmic_decision_per_consumer").value = JSON.stringify(dict_ignore_algo);
        console.log(dict_ignore_algo);
    }


    function resetInput(ele, id) {
        
        ele.value = all_random_vars[id][ele.getAttribute("placeholder")]
    }
</script>

<script>
    // shuffle divs?
    const shuffled_all_cards = all_cards.sort((a, b) => 0.5 - Math.random());
    if ("{% C.RANDOMIZE_DIV_ORDER %}" == "True") {
        for (const element of shuffled_all_cards) {
            console.log(element)
            $("#consumer-list").append($("#card-" + element))
        }
    }
</script>

<p><button class="btn btn-primary">Diagnose all clients</button></p>
<p>
    {{ include "practice_round/InstructionAccordion.html" }}
</p>
{{ endblock }}
