{{ block title }}
    Set Prices
{{ endblock }}
{{ block content }}

<style>
    .title-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .otree-timer {
        display: none;
    }
    .otree-title {
        display: none;
    }
  </style>
  
  <div class="title-container">
    <div class="title_element">
        <h2>Set Prices</h2>
    </div>
    <div class="title_element">
        <h2>Round: {% player.round_number %}/{% C.NUM_ROUNDS %} | Time left: <span class="otree-timer__time-left">time_left</span></h2>
    </div>
  </div>


{{ include_sibling "InfoBox.html" }}

<style>
  .price-choices-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
  }
  .choices-card {
      background-color: #f1eef6;
      text-align: center;
      border: solid;
      border-radius: 1em;
      padding-bottom: 0.3em;
      margin: 1em;
      overflow: hidden;
  }

  .bias-name {
        width: 100%;
        padding: 0.3em;
        margin-bottom: 0.3em;
        background-color: #bdc9e1;
    }
</style>
<div class="info">

  <div class="price-choices-list">
    {% if not player.investment_decision %}
    <!-- SMALL BIAS -->
    <div class="choice-small-bias choices-card">
      <p class="bias-name"><b>Price vector small</b></p>
      <!--<p>By choosing this option, you will make more money when selling low-quality services than high-quality services.</p>-->
      <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row"></th>
                <th>Low-quality service</th>
                <th>High-quality service</th>
            </tr>
            <tr>
                <th scope="row">Your prices</th>
                <td>{% C.PRICE_VECTOR_OPTIONS.bias_small.0 %} Coins</td>
                <td>{% C.PRICE_VECTOR_OPTIONS.bias_small.1 %} Coins</td>
            </tr>
            <tr>
                <th scope="row">Profit per consumer</th>
                <td>{% C.PRICE_VECTOR_OPTIONS.bias_small.2 %} Coins</td>
                <td>{% C.PRICE_VECTOR_OPTIONS.bias_small.3 %} Coins</td>
            </tr>
        </tbody>
    </table>
      <button class="btn btn-primary" name="price_vector_chosen" value="bias_small">Choose Option</button>

    </div>

    <!-- LARGE BIAS -->
    <div class="choice-large-bias choices-card">
      <p class="bias-name"><b>Price vector large</b></p>
      <!-- <p>By choosing this option, you will make more money when selling high-quality services than low-quality services.</p>-->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row"></th>
            <th>Low-quality service</th>
            <th>High-quality service</th>
          </tr>
          <tr>
              <th scope="row">Your prices</th>
              <td>{% C.PRICE_VECTOR_OPTIONS.bias_large.0 %} Coins</td>
              <td>{% C.PRICE_VECTOR_OPTIONS.bias_large.1 %} Coins</td>
          </tr>
          <tr>
              <th scope="row">Profit per consumer</th>
              <td>{% C.PRICE_VECTOR_OPTIONS.bias_large.2 %} Coins</td>
              <td>{% C.PRICE_VECTOR_OPTIONS.bias_large.3 %} Coins</td>
          </tr>
        </tbody>
    </table>
      <button class="btn btn-primary" name="price_vector_chosen" value="bias_large">Choose Option</button>
    </div>

    <!-- NO BIAS -->
    <div class="choice-no-bias choices-card">
      <p class="bias-name"><b>Price vector equal</b></p>
      <!-- <p>By choosing this option, you will make the same amount of money when selling low-quality and high-quality services.</p>-->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row"></th>
            <th>Low-quality service</th>
            <th>High-quality service</th>
          </tr>
          <tr>
              <th scope="row">Your prices</th>
              <td>{% C.PRICE_VECTOR_OPTIONS.no_bias.0 %} Coins</td>
              <td>{% C.PRICE_VECTOR_OPTIONS.no_bias.1 %} Coins</td>
          </tr>
          <tr>
              <th scope="row">Profit per consumer</th>
              <td>{% C.PRICE_VECTOR_OPTIONS.no_bias.2 %} Coins</td>
              <td>{% C.PRICE_VECTOR_OPTIONS.no_bias.3 %} Coins</td>
          </tr>
        </tbody>
    </table>
      <button class="btn btn-primary" name="price_vector_chosen" value="no_bias">Choose Option</button>
    </div>

    {% else %}
      {% if player.group.treatment_investment_frequency == "once" %}
      <!-- ONCE -->
        <!-- SMALL BIAS INVEST -->
        <div class="choice-small-bias choices-card">
          <p class="bias-name"><b>Price vector small</b></p>
          <!--<p>By choosing this option, you will make more money when selling low-quality services than high-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <th>Low-quality service</th>
                    <th>High-quality service</th>
                </tr>
                <tr>
                    <th scope="row">Your prices</th>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_small.0 %} Coins</td>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_small.1 %} Coins</td>
                </tr>
                <tr>
                    <th scope="row">Profit per consumer</th>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_small.2 %} Coins</td>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_small.3 %} Coins</td>
                </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="bias_small">Choose Option</button>
    
        </div>
    
        <!-- LARGE BIAS INVEST -->
        <div class="choice-large-bias choices-card">
          <p class="bias-name"><b>Price vector large</b></p>
          <!-- <p>By choosing this option, you will make more money when selling high-quality services than low-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row"></th>
                <th>Low-quality service</th>
                <th>High-quality service</th>
              </tr>
              <tr>
                  <th scope="row">Your prices</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_large.0 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_large.1 %} Coins</td>
              </tr>
              <tr>
                  <th scope="row">Profit per consumer</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_large.2 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.bias_large.3 %} Coins</td>
              </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="bias_large">Choose Option</button>
        </div>
    
        <!-- NO BIAS INVEST -->
        <div class="choice-no-bias choices-card">
          <p class="bias-name"><b>Price vector equal</b></p>
          <!-- <p>By choosing this option, you will make the same amount of money when selling low-quality and high-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row"></th>
                <th>Low-quality service</th>
                <th>High-quality service</th>
              </tr>
              <tr>
                  <th scope="row">Your prices</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.no_bias.0 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.no_bias.1 %} Coins</td>
              </tr>
              <tr>
                  <th scope="row">Profit per consumer</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.no_bias.2 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.once.no_bias.3 %} Coins</td>
              </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="no_bias">Choose Option</button>
        </div>
      {% else %}
      <!-- REPEAT -->
        <!-- SMALL BIAS INVEST -->
        <div class="choice-small-bias choices-card">
          <p class="bias-name"><b>Price vector small</b></p>
          <!--<p>By choosing this option, you will make more money when selling low-quality services than high-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <th>Low-quality service</th>
                    <th>High-quality service</th>
                </tr>
                <tr>
                    <th scope="row">Your prices</th>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_small.0 %} Coins</td>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_small.1 %} Coins</td>
                </tr>
                <tr>
                    <th scope="row">Profit per consumer</th>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_small.2 %} Coins</td>
                    <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_small.3 %} Coins</td>
                </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="bias_small">Choose Option</button>
    
        </div>
    
        <!-- LARGE BIAS INVEST -->
        <div class="choice-large-bias choices-card">
          <p class="bias-name"><b>Price vector large</b></p>
          <!-- <p>By choosing this option, you will make more money when selling high-quality services than low-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row"></th>
                <th>Low-quality service</th>
                <th>High-quality service</th>
              </tr>
              <tr>
                  <th scope="row">Your prices</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_large.0 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_large.1 %} Coins</td>
              </tr>
              <tr>
                  <th scope="row">Profit per consumer</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_large.2 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.bias_large.3 %} Coins</td>
              </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="bias_large">Choose Option</button>
        </div>
    
        <!-- NO BIAS INVEST -->
        <div class="choice-no-bias choices-card">
          <p class="bias-name"><b>Price vector equal</b></p>
          <!-- <p>By choosing this option, you will make the same amount of money when selling low-quality and high-quality services.</p>-->
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row"></th>
                <th>Low-quality service</th>
                <th>High-quality service</th>
              </tr>
              <tr>
                  <th scope="row">Your prices</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.no_bias.0 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.no_bias.1 %} Coins</td>
              </tr>
              <tr>
                  <th scope="row">Profit per consumer</th>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.no_bias.2 %} Coins</td>
                  <td>{% C.PRICE_VECTOR_OPTIONS_MULTIPLIED.repeated.no_bias.3 %} Coins</td>
              </tr>
            </tbody>
        </table>
          <button class="btn btn-primary" name="price_vector_chosen" value="no_bias">Choose Option</button>
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>

 


    {{ formfield_errors "price_vector_chosen" }}
    <p>
      {{ include "practice_round/InstructionAccordion.html" }}
  </p>

{{ endblock }}
