<style>
    .info-box {
        border: solid;
        border-radius: 1em;
        padding: 0.3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #warning {
        color:red;
    }
</style>

<div class="info-box">
    <div class="info-left info-container">
        {{ if player.participant.number_of_timeouts > 0 }}
            <p><b><span id="warning">WARNING: You have {% player.participant.number_of_timeouts %} timeouts. You will be excluded from the experiment at {% C.DROPOUT_AT_GIVEN_NUMBER_OF_TIMEOUTS %} timeouts.</span></b></p>
        {{ endif }}
        <p>Round number: <b>{% player.round_number %} / {% C.NUM_ROUNDS %}</b></p>
        <p>You are an expert: <b>{% player.is_expert %}</b></p>
        <p>Coins: <b>{% player.coins %}</b></p>
        <p>Cost of providing small service: <b>{% C.COST_OF_PROVIDING_SMALL_SERVICE %}</b></p>
        <p>Cost of providing large service: <b>{% C.COST_OF_PROVIDING_LARGE_SERVICE %}</b></p>
    </div>

    <div class="info-right info-container">
        {% if player.is_expert %}
            <p>Expert ability level: <b>{% player.ability_level %} ({% player.diagnosis_accuracy_percent %}% Accuracy)</b></p>
        {% else %}
        
        {% endif %}
    </div>



</div>