<style>
    .info-box {
        border: solid;
        border-radius: 1em;
        padding: 0.3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f1eef6;
    }
    #warning {
        color:red;
    }
</style>

<div class="info-box">
    <div class="info-left info-container">
        {{ if player.participant.number_of_timeouts > 0 }}
            <p><b><span id="warning">WARNING: You have {% player.participant.number_of_timeouts %} timeouts. You will be excluded from the experiment at {% C.DROPOUT_AT_GIVEN_NUMBER_OF_TIMEOUTS %} timeouts.</span></b></p>
        {{ endif }}
        <p>Round number: <b>{% player.round_number %} / {% C.NUM_ROUNDS %}</b></p>
        <p>You Role is: <b>{{ if player.is_expert }}Expert ({% player.ability_level %} ability){{ else }}Consumer{{ endif }}</b></p>
        <p>Coins: <b>{% player.coins %}</b></p>
    </div>

    <div class="info-right info-container">
        {% if player.is_expert %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Your diagnostic accuracy</th>
                    <th scope="col" colspan="2">{% player.total_diagnosis_accuracy_percent %}% ({% player.ability_level %} ability {{ if player.investment_decision}} | invested{{ endif }})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Your service</th>
                        <th>Minor Service</th>
                        <th>Major Service</th>
                    </tr>
                    <tr>
                        <th scope="row">Your costs</th>
                        <td>{% C.COST_OF_PROVIDING_SMALL_SERVICE %} Coins</td>
                        <td>{% C.COST_OF_PROVIDING_LARGE_SERVICE %} Coins</td>
                    </tr>
                    <tr>
                        <th scope="row">Prices paid by consumer</th>
                        <td>X Coins</td>
                        <td>X Coins</td>
                    </tr>
                    <tr>
                        <th scope="row">Your Profit per consumer</th>
                        <td>X Coins</td>
                        <td>X Coins</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
        
        {% endif %}
    </div>

</div>