{{ block title }}
    Intro
{{ endblock }}
{{ block content }}

<div class="intro-text">
    <!-- Display info based on treatment -->
    {% if player.group.treatment_investment_option == "skill" %}
        <p>Skill</p>
    {% else %}
        <p>Algo</p>
    {% endif %}

    {% if player.group.treatment_investment_frequency == "once" %}
        <p>Once</p>
    {% else %}
        <p>Repeated</p>
    {% endif %}

    {% if player.group.treatment_investment_visible %}
        <p>Visible</p>
    {% else %}
        <p>Not Visible</p>
    {% endif %}
</div>
    {{ formfields }}
    {{ next_button }}

{{ endblock }}
