{{ block title }}
    Diagnosis I
{{ endblock }}
{{ block content }}

<style>
    .title-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .otree-timer {
        display: none;
    }
    .otree-title {
        display: none;
    }
  </style>
  
  <div class="title-container">
    <div class="title_element">
        <h2>Diagnosis I</h2>
    </div>
    <div class="title_element">
        <h2>Round: {% player.round_number %}/{% C.NUM_ROUNDS %} | Time left: <span class="otree-timer__time-left">time_left</span></h2>
    </div>
  </div>

{{ block content }}

{% if player.is_expert %}
<div class="intro-text expert">
    <!-- Display info based on treatment -->
    {% if player.group.treatment_skill_visible %}
        <h4>Skill visible</h4>
        <p>Clients will be able to see what skill level you have.</p>
    {% else %}
        <h4>Skill not visible</h4>
        <p>Clients will not be able to see what skill level you have.</p>
    {% endif %}
</div>

{% else %}
<div class="intro-text consumer">
    <!-- Display info based on treatment -->
    {% if player.group.treatment_skill_visible %}
        <h4>Skill visible</h4>
        <p>You will be able to see which how competent experts are.</p>
    {% else %}
        <h4>Skill not visile</h4>
        <p>You will not be able to see how competent experts are.</p>
    {% endif %}
</div>

{% endif %}

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
