{{ block title }}
    Matching Successful
{{ endblock }}
{{ block content }}

<style>
    .title-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .otree-timer {
        display: none;
    }
    .otree-title {
        display: none;
    }
  </style>
  
  <div class="title-container">
    <div class="title_element">
        <h2>Matching Successful</h2>
    </div>
    <div class="title_element">
        <h2>Round: {% player.round_number %}/{% C.NUM_ROUNDS %} | Time left: <span class="otree-timer__time-left">time_left</span></h2>
    </div>
  </div>
<style>
    .card-content {
        margin: 1em;
    }
</style>

<div class="card">
    <div class="card-content">
        {% if participant.is_expert %}
        <p>You will now proceed with your pricing decision, and then conduct all potential diagnoses + treatments. </p>

        <p> Remember that all clients observe {% if participant.treatment_skill_visible %} each expert's diagnostic ability, {% endif %}
            your prices, the prices from other experts and the costs for each treatment.
            Therefore, clients also know each expert's potential profits. Clients do not observe (1) the nature of their problem or
            (2) which treatment you implemented. However, they do observe whether they earned any profits. </p>
        <p> If a client decided
            to approach you after seeing all the prices from all the experts, your treatment decision will be implemented 
            and both you and the client will be paid out accordingly. Then, the next round begins.</p>

        {% else %}
        <p>You will now decide whether you want to approach an expert, or leave the market and earn the outside fee of {% C.EXPERT_PAYOFF_NO_CONSUMER %} Coins.
            If you decide to approach an expert, the expert will diagnose and treat you. At the end of the round,
            both you and the expert will be paid out. Remember that your payoff is determined as follows:</p>
        <p>If your problem is solved: {% C.CONSUMER_PAYOFFS.problem_solved %} Coins – price of treatment</p>
        <p>If your problem is not solved: -price of treatment</p>
        <p>The expert’s payoff is determined by the price of the treatment minus the respective costs of the treatment. </p>
        
        {% endif %}
    </div>
</div>
<p></p>


{{ next_button }}

{{ endblock }}
